@import 'base';
@import 'variable';
.logo {
    height: 70px;
    background: url(https://zmp3-static.zadn.vn/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg) no-repeat  center;
    background-size:120px;
    object-fit: cover;
    margin-left:-7rem;
}
.active {
    background: #393243;
    border-left: 3px solid #7200A1;
}
.active1 {
    background-color: #7200A1;
    color:#ccc;
}
.linex {
    border-bottom: 1px solid #7200A1;
    width:90%;
    margin: 0 auto;
    }
.app-top-left {
        min-width:20%;
    }
.navbar {
    background-color: $text-navbar;
    height:900px;
    width:100%;
    color:$text-white;
    .navbar-top-text {
        font-size:2.5rem;
        display:flex;
        justify-content:flex-start;
        padding:1.5rem;
        
        p{
            flex-basis:1;
            margin-left : 20px;
        }
    }
   .navbar-login {
    background-color:#7200a1;
    width:90%;
    height:150px;
    font-size:4.5rem;
    border-radius:1rem;
  margin:2rem auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    .navbar-login__description {
text-align: center;        
    }
    .navbar-login__btn .login-btn {
        margin-top:15px;
        background-color:#7200a1;
        color:$text-white;
        padding:1rem 3.5rem;
        border-radius:2rem;
        border-color: $text-white;
    }
   }
}
.playlist {
    height: 60px;
    width:20%;
    border-top: 1px solid rgb(51, 50, 50);
    border-bottom: 1px solid rgb(51, 50, 50);
    color: #fff;
    padding-left: 25px;
    display: flex;
    font-size:2rem;
    align-items: center;
    font-weight: 600;
    position:absolute;
    bottom: 0;
}
.playlist i {
    margin-right: 10px;

}
.app-header {
    width: calc(100% - 20%);
    position: fixed;
    top: 0;
    display: flex;
    z-index: 999;
    
}
.app-top {
    display: flex;
}
.app-top-right {
    width: 80%;
    color: #fff;
    flex:220rem;
    background: #140D1F;
    &__arrow {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 20px;
        color:#282331;
        padding:2rem;
    }
    &__left {
        display: flex;
        justify-content:flex-start;
        flex: 1;
        align-items: center;
        font-size:6rem;
        width:100%;
    }
    &__right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex:1;
        width:100%;
    }
    &__bottom {
        width:100%;
        margin: 0 auto;
    }
    .box-search {
        width: 545px;
        height: 40px;
        background: #282331;
        border-radius: 30px;
        display: flex;
        align-items: center;
        &-list {
            margin-left: 10px;
        font-size:3rem;
        border-radius:10px;
        .btn-search {
            width:500px;
    background:none;
    border: none;
    outline: none;
    color: #fff;
        }
        }
    }
   
}
.listbox-r {
    display: flex;
    margin-right: 30px;
}
.listbox-r-icon {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 0px 5px;
    width: 60px;
    height: 60px;
    background: #282331;
    font-size:2.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.listbox-r-icon img {
    width:100%;
    border-radius: 50%;
}
.ti-arrow-right {
    margin:2rem;

}
.admin-mp3 {
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    margin:10rem auto;
    &__name {
        font-size:5rem;
    }
    &-avatar {
        &__img {
            width: 95px;
            height: 95px;
            border-radius: 50%;
            background-size: cover;
        }
       
    }
}
.order-vip {
    position:absolute;
    right:1rem;
    top:10rem;
    font-size:2.5rem;
    &__buy {
        background-color: #DFD019;
        border-radius :1rem;
        padding:0.3rem 1rem;
        cursor: pointer;
    }
    &__press {
        background-color: #282331;
        border-radius :1rem;
        padding:0.3rem 1rem;
        cursor: pointer;
        color:$text-white;
        border:none;

    }
}
.fas-icon {
    background: #282331;
    border-radius:1rem;
    padding:0.5rem;
}
div.container {
    width: 60%;  
    margin: 200rem auto;  
}
/* định dạng thẻ div chưa các button tab */
div.tab {
    overflow: hidden; 
    border: 1px solid #ccc; 
    background-color: #f1f1f1; 
    width:51.4%;
    margin:0 auto;
    .tablinks {
        color:#000;;
    }
}
 
/* định dạng các button tab */
div.tab button {
    background-color: inherit; 
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
 
/* đổi màu khi một button tab được hover */
div.tab button:hover {
    background-color: #ddd;
}
 
/* đổi màu nền cho tab đang được hiển thị nội dung */
div.tab button.active1 {
    background-color:#7200A1;
}
 
/* định dạng nội dung hiển thị */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    font-size:4rem;
}
.box-music {
    display:flex;
    justify-content: space-between;
    align-items: center;
    &-content {
        display : flex;
        padding:2rem;
        font-size:3rem;
    }
    &-button {
        display: flex;
        font-size:2.3rem;
        .btn-uploadmusic {
            background-color: #2F2739;
            color:#fff;
            padding:1.2rem;
            border-radius:2rem;
            margin-right : 1rem;
        }
        .buttonplayall {
            background-color: #7200A1;
            padding:1.2rem;
            border-radius:2rem;
        }
    }
}
.box-music-content-b {
    display: flex;
    color: #fff;
    margin-top: 15px;
}
.image-musicplay img {
    width:200px;
    height:200px;
    border-radius: 10px;
}
.all-musicplay {
    height: 241px;
    width:100%;
    overflow: hidden;
    overflow-y: scroll;
}
.all-musicplay::-webkit-scrollbar {
    width: 4px;
    z-index: 1;
    
}
.all-musicplay::-webkit-scrollbar-thumb {
    background-color: #5b5364;
    border-radius:10px;
}
.all-musicplay::-webkit-scrollbar-button {
    height: 5px;
}
.app-bottom-right {
    display:flex;
}
.app-bottom {
    position: fixed;
    bottom: 0;
    height: 90px;
    width: 100%;
    border-top: 1px solid rgb(51, 50, 50);
    background:#120C1C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.app-bottom-left {  
    width: 30%;
    height: 100%;

}
.app-bottom-left-list {
    margin-top: 10px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    color: #fff;    
}
.music-img {
    width: 63px;
    height:63px;
    margin-right: 10px;
}
.music-img {
    background-size: cover;
    object-fit:cover;
    border-radius: 50%;
}
.allicon {
    display: none;
}
.allicon.active5 {
    display: block;
}
.icon1 {
    position: relative;
    bottom:-20px;
    left: -34px;
    animation: animate 6s infinite;
}
.icon2 {
    position: relative;
    top:-33px;
    left: -10px;
    animation: animate 2s infinite;
}
.icon3 {
    position: relative;
    bottom:-25px;
    left: -9px;
    animation: animate 4s infinite;
}
.icon4 {
    position: relative;
    bottom:-5px;
    left: 50px;
    animation: animate 2s infinite;
}
.icon5 {
    position: relative;
    top:-55px;
    left: 73px;
    animation: animate 6s infinite;
}
.icon6 {
    position: relative;
    top:-110px;
    left: 50px;
    animation: animate 4s infinite;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}
.music-textname {
    margin-right: 20px;
}
.music-textname h5 {
    font-size:17px;
    font-weight:700;
    margin-bottom: 5px;
}
.music-icon .ti-heart {
    margin-right: 15px;
}
.music-textname p {
    font-size: 13px;
}

.music-icon {
    font-size:18px;
    cursor: pointer;
}
.music-textname h5,
.music-textname p,
.playlist,
.progress:hover {
    cursor: pointer;
}
.music-icon .ti-heart {
    margin-right: 15px;
}
.music-icon {
    font-size:18px;
    cursor: pointer;
}
.music-icon.play-pause .fa-pause,
.music-icon.play-pause .fa-play {
    font-size: 13px;
} 
.music-icon i {
    font-size: 18px;
}
.music-icon.play-pause {
    height: 40px;
    width: 40px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    border: 2px solid #fff;
}
.music-icon.play-pause:hover {
    color: #7200A1;
    border: 2px solid #7200A1;
}
.music-icon .fa-compact-disc {
    margin-right: 15px;
}
.music-icon .ti-control-shuffle.active3,
.music-icon .ti-loop.active3 {
    color: #7200A1;
}
.app-bottom-center {
    width: calc(100% - 30% - 30%);
    height:100%;
    color: #fff;
}
.app-bottom-center-top {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.app-bottom-center-bot {
    margin-top:10px;
}
.main-bar {
    width: 220px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 10px;
}
.main-bar .fa-pause {
    display: none;
}
.main-bar.playing .fa-pause{
    display: inline-block;
  }
  .main-bar.playing .fa-play {
    display: none;
}
.timemusic {
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items:center;
}
.current {
  
    font-size:1.3rem;
}
.duration {
font-size:1.3rem;
}
.progress-area {
    height: 2px;
    width: 520px;
    margin: 0 10px;
    background: #595560;
    cursor: pointer;
    border-radius: 5px;
}
.progress-area .progress-bar {
    height: inherit;
    width: 0;
    border-radius: inherit;
    background: #fff;
    position: relative;
}
.progress-bar::before {
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    background:inherit;
    border-radius: 50%;
    top: 50%;
    right:-5px;
    transform: translateY(-50%);
    opacity: 0;
}
.progress-area:hover .progress-bar::before {
    opacity: 1;
}
.progress-area:hover {
    height: 5px;
}
.listAudio {
    display: none;
}
.app-bottom-right { 
    width:30%;
    height:100%;
}
.app-bottom-right-list {
    display: flex;
    justify-content:space-around;
    align-items:center;
    margin-top: 27px;
    margin-left: 150px;
    color:white;
}
.sub-list {
    width: 220px;
    display: flex;
    justify-content:space-around;
}
.listvolum {
    display: flex;
    align-items: center;
}
.volumbox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.volumbox .fa-volume-mute {
    display: none;
}
.volumbox.mute .fa-volume-mute {
    display: block;
}
.volumbox.mute .fa-volume-up {
    display: none;
}
.volum {
    width: 75px;
    height: 3px;
    margin-left: 5px;
    -webkit-appearance: none;
    background: #595560;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.volum::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
.line-h {
    height:35px;
    width:1px;
    background: rgb(51, 50, 50);
    margin-right: 5px;
}
.listAudio {
    display: none;
}
.all-musicplay {
    height: 241px;
    width:100%;
    font-size:2.5rem;
    overflow: hidden;
    overflow-y: scroll;
}
.all-musicplay::-webkit-scrollbar {
    width: 4px;
    z-index: 1;
    
}
/* .all-musicplay::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
} */
.all-musicplay::-webkit-scrollbar-thumb {
    background-color: #5b5364;
    border-radius:10px;
}
.all-musicplay::-webkit-scrollbar-button {
    height: 5px;
}
.box-musicplay {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 0.1px solid #443952;
    margin: 0 20px;
    margin-top: 5px;
}
.box-musicplay.active4,
.box-musicplay:hover {
    background: #2F2739;
    border-radius: 5px;
}
.info-musicplay:hover .hoverplay {
    display: flex;
}
.info-musicplay {
    display: flex;
    margin-left: 10px;
    width: 500px;
    justify-content:space-between;
}
.info-musicplay:hover {
    cursor: pointer;
}
.texts-infomusic {
    display: flex;
    margin-top: 5px;
}
.texts-infomusic:hover {
    cursor: pointer;
}
.imgmn-music {
    width:40px;
    height:40px;
    background-size: cover;
    object-fit: cover;
    border-radius: 3px;
    margin-right: 10px;
}
.hoverplay {
    background:rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;   
    justify-content:center;
    align-items:center;
    display:none;
}
.info-musicplay:hover .hoverplay {
    display: flex;
}
.text-musics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-musics h5 {
    font-size: 16px;
    font-weight: 500;
}
.text-musics p {
    font-size: 14px;
    color: #696372;
    margin-bottom: 10px;
}
.time-musicplay {
    display: flex;
    justify-content: center;
    align-items: center;

}
.time-musicplay  {
    font-size: 14px;
    color: #696372;
}
.btn-musicplay {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    color: #696372;
}
.btn-musicplay i:hover {
    cursor: pointer;
}
.playlistnew-title {
   &__text {
       font-size:3.5rem !important;
       margin-bottom:1rem;
   }
}
.box-playlistnew,
.box-music-upload {
    margin: 40px 60px 0px 60px;
    height: 260px;
}
.playlistnew-icon {
    font-size:3rem;
}
.playlistnew-box {
    color: #fff;
    background-image: linear-gradient(45deg, #681FA7, #B72584);
    width: 206px;
    height: 206px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .regnew-playlist {
        font-size:3rem;
        margin-top:1rem;
    }
}
.box-music-upload-list-icon {
    margin-top: 20px;
    margin-bottom: 20px;
}
.box-music-upload-list-icon i {
    font-size:80px;
}
.box-music-upload-list-text {
    font-size: 17px;
}
